// GLOBAL VARIABLES
$app-purple: #9072ea;
$nav-purple: #b8a1fd;
$app-pink: #cf75f5;
$app-purpleRGB: rgb(136, 96, 208);
$bluePurple: #5680e9;
$bluePurpleRGB: rgb(86, 128, 233);
$app-teal: #5ab9ea;
$app-tealRGB: rgb(90, 185, 234);
$lightBlue: #84ceeb;
$lightBlueRGB: rgb(132, 206, 235);
$gray: #c1c8e4;
$grayRGB: rgb(193, 200, 228);
$darkGray: #6c757d;
$white: #ffffff;
$black: #000000;
$cardBoxShadow: rgba(0, 0, 0, 0.4);
$checkboxGreen: #14ad1c;
$checkboxYellow: #e09f01;
$fontIncome: #45b33b;
$fontExpense: #ec0e0e;
